.container {
  max-width: 95% !important;
  /*Set your own width %; */
}

/* small device */
@media only screen and (max-width: 280px) {
.nav-responsive {
    display: flex;
    align-items: center;
    gap: 0px;
}

}

/* small device */
@media only screen and (max-width: 360px) {
.nav-responsive {
    display: flex;
    align-items: center;
    gap: 15px;
}

}

/* small device */
@media only screen and (max-width: 372px) {
  .btn-one {
    margin: -9px;
  }

  .navbar-brand {
    margin-right: 0px;
    width: 100px;
  }

}

@media only screen and (max-width: 500px) {
  .cariar-button {
    display: flex;
    gap: 9px;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-one {
    padding: 5px 15px;
  }

  .blog-details-right-sidebar h3 {
    font-size: 22px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;
}

.course-section .card-title{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

ul li{
  font-size: 14px;
}

p{
  font-size: 14px;
}

.course_details_desc ul li {
  font-size: 14px;
}

.heading{
  font-size: 23px;
}
.heading2{
  font-size: 23px;
}

.red-title{
  font-size: 30px;
}
.sm-red-title{
  font-size: 23px;
}
.cariar-section{
  padding: 50px 0px;
}
.course-section{
  padding: 50px 0px;
}
.cariar-section{
  padding: 50px 0px;
}
.our-portfolio{
  padding: 50px 0px;
}


}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .copyright-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }

  /* .topbar-area {
    display: none;
  } */

  .owl-carousel {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* checkout page card  */
  .border-sm-start-none {
    border-left: none !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}